h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.App {
  text-align: left;
  color: #1e1e1e;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App .home-container {
  min-height: 350px;
  margin-top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #1e1e1e;
  color: #fff;
}

.App .home {
  width: 35%;
  min-width: 350px;
}

.App .home.intro {
  display: flex;
  align-items: center;
  padding: 120px 0px 50px 0px;
}

.App .home-intro {
  width: 300px;
  margin: 0 auto;
  align-self: center;
}

.App .home.image {
  margin-right: 50px;
}

.App .home.image img {
  height: 100%;
  width: auto;
}

.App .article {
  background-color: #1e1e1e;
  color: #1e1e1e;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-top: 120px;
}

.App .article-banner {
  height: 300px;
  background-color: #1e1e1e;
  color: #fff;
  font-family: league-gothic, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .article-banner h3 {
  max-width: 500px;
  line-height: 1.2em;
  letter-spacing: 0.009em;
}

.App .article-story {
  background-color: #fff;
  color: #1e1e1e;
}

@media screen and (min-width: 698px) {

  .App .home-container {
    justify-content: flex-end;
  }

  .App .home.intro {
    padding: 0px;
  }

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
