.acknowledge {
  background-color: #1e1e1e;
  font-family: league-gothic, sans-serif;
  font-style: italic;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.009em;
}

.acknowledge .credits {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: baseline;
}

.acknowledge .credits h1 {
  font-size: 5rem;
}

.acknowledge .credits img {
  width: 100px;
  height: auto;
}

.acknowledge .proyecto {
  padding: 80px 50px 0px 50px;
  text-align: center;
  font-size: 1.4rem;
}

.acknowledge .proyecto h1 {
  margin-top: 20px;
}

.acknowledge .separador {
  text-align: center;
  padding: 50px 0px;
}

.acknowledge .separador img {
  width: 15px;
  height: auto;
}

.acknowledge .agradecimientos {
  text-align: center;
}

.agradecimientos .columns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.agradecimientos .column {
  padding: 60px 50px 15px 50px;
  text-align: center;
  width: 50%;
  min-width: 350px;
}

.agradecimientos .column h3 {
  font-size: 1.7rem;
  letter-spacing: 0.009em;
  font-style: normal;
}

.agradecimientos .column p {
  font-family: 'acumin-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  margin: 0;
}

.agradecimientos .logo {
  width: 300px;
  height: auto;
}

.acknowledge .escrito {
  text-align: left;
  padding: 50px 0px;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-transform: none;
  margin: 0 auto;
  max-width: 350px;
}

@media screen and (min-width: 750px) {

  .acknowledge .credits h1 {
    font-size: 10rem;
  }

  .acknowledge .credits img {
    width: auto;
    height: auto;
  }

  .agradecimientos .column {
    padding: 60px 50px 15px 50px;
  }

  .acknowledge .escrito {
    padding: 50px 0px;
    margin: 0 auto;
    max-width: 500px;
  }

  .acknowledge .proyecto {
    font-size: 1.7rem;
  }

}
