footer {
  background-color: #1e1e1e;
}

.credits {
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

.credits img.hov:hover {
  filter: brightness(120%);
  cursor: pointer;
}

.credits img.no-hov {
  max-width: 250px;
}

.credits .fire {
  margin-bottom: 40px;
}

.footer {
  min-height: 250px;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 20px 0px 20px 0px;
}

.footer img.logo {
  width: auto;
  height: 60%;
}

.footer .item {
  width: 30%;
  min-width: 200px;
  font-size: 14px;
  text-align: left;
  margin: 30px;
}

.footer .thanks {
  line-height: 1.7em;
  display: flex;
  align-content: flex-start;
  margin-bottom: 80px;
}

.footer .thanks p {
  width: 250px;
}

.footer .thanks img {
  align-self: flex-start;
  margin-top: -10px;
  margin-left: 20px;
  object-fit: contain;
}

.footer .item.share {
  font-size: 18px;
  width: 10%;
  min-width: 150px;
}

.footer .share .icon{
  margin-right: 30px;
}

.cc {
  line-height: 1.2em;
  font-family: 'acumin-pro', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 10.5px;
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  background-color: #1e1e1e;
}

.cc img {
  width: 130px;
  height: auto;
}

.cc p {
  max-width: 500px;
  padding: 20px 50px;
  margin: 0 auto;
}

@media screen and (min-width: 698px) {
  .credits img.no-hov {
    max-width: 350px;
  }
}
