.mapa {
  background-color: #fff;
  padding: 0px 0px 50px 0px;
}

.mapa .titulo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 0px 30px 50px 30px;
}

.mapa .titulo img {
  object-fit: contain;
}

.mapa .titulo .text {
  z-index: 999;
}

.mapa .titulo .ill {
  margin-right: -80px;
  width: 300px;
  height: auto;
}

.mapa .plot {
  padding: 50px;
}

@media screen and (min-width: 1000px) {
  .mapa .titulo {
    padding: 0px 80px 50px 80px;
  }
}
