:root {
  --menu--width: 100%;
}

.topnav {
  color: #ffffff;
  font-family: league-gothic, sans-serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.05em;
  padding: 20px;
  background-color: #1e1e1e;
}

.topnav {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.topnav .logo {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.topnav button.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.topnav img.logo {
  width: 200px;
  height: auto;
}

.menu-close {
  background-color: transparent;
  border: none;
  align-self: flex-end;
}

.menu-close:hover {
  cursor: pointer;
}

.menu-close:hover svg {
  fill: #FF7F2C;
}

.menu-close svg {
  fill: #FF4ADC;
  width: 150%;
  height: auto;
}

.navbar .links {
  display: none;
}

.navbar.is-open .links {
  background-color: #1e1e1e;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 40px;
  position: fixed;
  right: 0;
  top: 0;
  width: var(--menu--width);
  z-index: 10;
}

.navbar.is-open .links a {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.navbar .links a {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar .links a:hover {
  color: #FF4ADC;
}

.navbar .item.share {
  font-size: 18px;
  width: 10%;
  min-width: 150px;
}

.navbar .share .icon {
  margin-right: 30px;
}

.navbar .share .icon:hover {
  color: #FF4ADC;
}

#hamburger {
  position: fixed;
  padding: 10px;
  right: 5px;
}

#hamburger-icon:hover {
  filter: hue-rotate(60deg) brightness(130%);
}

@media screen and (min-width: 1024px) {
  .menu-close {
    display: none;
  }

  .navbar.is-open {
    width: 100%;
  }

  .topnav .logo {
    width: auto;
  }

  .topnav button.menu {
    display: none;
  }

  .navbar .links,
  .navbar.is-open .links {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    padding: 0;
    position: static;
    width: auto;
  }

  .navbar.is-open .links a {
    color: #ffffff;
    margin-bottom: 0;
    font-size: 0.875rem;
  }

  .navbar.is-open .links a:hover {
    color: #FF4ADC;
  }

  .navbar .links a {
    margin-right: 60px;
  }

  .navbar .links a:last-child {
    margin-right: 0;
  }

}
