*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.title-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.title {
  color: #f4efed;
  font-size: 1.5rem;
  margin: 0;
  padding: 0.5rem;
}

.story-title {
  font-family: league-gothic, sans-serif;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.009em;
}

.relative {
  position: relative;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .rotated {
    white-space: nowrap;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
  }
}
