.homeIntro {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: 'acumin-pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  display: grid;
  padding: 0 20px;
  grid-gap: 16px;
}

.homeIntroText p {
  margin: 0 auto;
  width: 100%;
}

.homeIntroImage {
  justify-self: center;
}

.homeIntroImage img {
  max-width: 320px;
  vertical-align: middle;
}

.articleBanner {
  align-items: center;
  background-color: #1e1e1e;
  color: #ffffff;
  display: flex;
  padding: 100px 16px;
  position: relative;
  text-align: center;
}

.articleBanner h3 {
  flex: 2;
  font-size: 36px;
  font-style: italic;
  text-transform: uppercase;
}

.articleBanner picture {
  display: none;
  flex: 1;
}

.vizBanner {
  display: grid;
  padding: 100px 16px;
  grid-gap: 16px;
}

.vizBannerText {
  align-items: flex-start;
  display: flex;
}

@media screen and (min-width: 768px) {
  .homeIntro {
    grid-template-columns: 0 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .homeIntroText p {
    width: 80%;
  }

  .articleBanner picture {
    display: block;
  }

  .vizBanner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .homeIntro {
    grid-template-columns: repeat(3, 1fr);
  }

  .articleBanner h3 {
    font-size: 48px;
  }
}
