.homeIntro {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: 'acumin-pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  /* display: grid; */
  padding: 0 20px;
  /* grid-gap: 16px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.homeIntroText, .homeIntroImage {
  max-width: 500px;
  /* min-width: 400px; */
  /* width: 80%; */
}

.homeIntroText p {
  margin: 0 auto;
  width: 80%;
  padding-top: 50px;
}

.homeIntroImage {
  justify-self: center;
  padding-right: 0px;
  text-align: center;
}

.homeIntroImage img {
  max-width: 320px;
  vertical-align: middle;
  padding-top: 50px;
}

.articleBanner {
  align-items: center;
  background-color: #1e1e1e;
  color: #ffffff;
  display: flex;
  padding: 120px 0px 20px 0px;
  position: relative;
  text-align: center;
  font-family: 'league-gothic', sans-serif;
  font-style: italic;
  font-weight: 400;
}

/* .articleBanner h3 {
  flex: 2;
  font-size: 40px;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 250px;
} */

.articleTitle h3 {
  flex: 2;
  font-size: 3.5rem;
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 30px;
  max-width: 250px;
}

.articleTitle h3 span {
  color: #ff4adc;
}

.articleBanner .articleLink {
  font-family: 'league-gothic', sans-serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.009em;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  font-size: 1.5rem;
  padding: 3px 9px;
  text-transform: uppercase;
  text-align: center;
}

.articleBanner .articleLink:hover {
  text-decoration: none;
  background-color: #ff4adc;
  color: #1e1e1e;
  border: none;
  font-size: 1.5rem;
  padding: 4px 9px;
  text-align: center;
}

.articleBanner picture {
  /* display: none; */
  flex: 1;
}

.vizBanner {
  /* display: grid; */
  padding: 25px 0px;
  /* grid-gap: 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.vizBannerContainer {
  padding: 50px 0px 0px 0px;
}

.vizBannerContainer .storytelling {
  padding: 60px 50px 20px 50px;
  text-align: center;
  font-size: 1.4rem;
}

.vizBannerContainer .arrows {
  text-align: center;
}

.vizBannerContainer .arrows img {
  margin-left: 3%;
  width: 150px;
}

.vizBannerContainer .arrows img:first-of-type {
  margin-right: 3%;
  margin-left: 0px;
}

.vizBannerIframe, .vizBannerText {
  width: 100%;
  min-width: 300px;
}

.vizBannerIframe {
  /* padding: 0px 40px 0px 0px; */
  padding: 30px 0px;
  /* min-width: 300px;
  max-width: 500px; */
  height: 400px;
  /* background-color: #1e1e1e; */
}

.vizBannerText {
  align-items: flex-start;
  display: flex;
  /* padding: 0px 0px 0px 40px; */
  padding: 30px 50px;
  /* min-width: 300px;
  max-width: 500px; */
}

.storyTitle {
  margin-bottom: 20px;
  font-family: 'league-gothic', sans-serif;
  font-style: italic;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 0.009em;
  color: #1e1e1e;
}

.storyText {
  font-family: 'acumin-pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #1e1e1e;
}

.storyText a {
  color: #ff4adc;
}

.storyText a:hover {
  font-weight: bold;
}

.story {
  margin-left: 15px;
  margin-bottom: 20px;
}

.rayo {
  min-width: 20px;
  height: auto;
}

.mapaTitle {
  display: flex;
  justify-content: center;
  padding: 50px 20px 30px 30px;
  flex-wrap: nowrap;
}

.mapaTitleBg {
  position: relative;
  right: -30px;
  z-index: -999;
}

.mapaTitleSvg {
  z-index: 999;
  margin-right: 50px;
}

.mapaTitle img {
  height: 150px;
}

.mapaTitleContainer .directions {
  font-family: 'league-gothic', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.009em;
  font-size: 1.4rem;
  line-height: 1.2em;
  margin: 0px auto 40px auto;
  text-align: center;
  width: 80%;
}

.mapaContainer {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  padding: 0 0 10px 0px;
}

.mapa {
  width: 100%;
}

.countryCard {
  min-width: 300px;
  max-width: 999px;
  width: 70%;
  border: 1px solid #1e1e1e;
  box-shadow: 4px 4px 0px #1e1e1e;
  padding: 10px 15px 30px 15px;
  margin-top: -20px;
  margin-left: 50px;
  margin-right: 5%;
  font-family: 'league-gothic', sans-serif;
  font-style: normal;
  letter-spacing: 0.009em;
  color: #1e1e1e;
}

.countryCard .countryTitle {
  font-style: italic;
  font-size: 1.7rem;
  color: #ff4adc;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.countryCard .countryMedia {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.countryCard .media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 10px 0px 0px;
  width: 260px;
}

.countryCard .mediaName {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.countryCard .sparks {
  width: 25px;
  height: 25px;
  background-image: url("/images/sparks2.svg");
  background-position: center;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5px;
}

.countryCard .mediaLink, .countryCard .mediaNotFound .mediaLink {
  font-family: 'league-gothic', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.009em;
  text-decoration: none;
  color: #1e1e1e;
  border: 1px solid #1e1e1e;
  font-size: 1.3rem;
  padding: 3px 9px;
  text-transform: uppercase;
}

.countryCard .mediaLink:hover {
  text-decoration: none;
  background-color: #ff4adc;
  color: #fff;
  border: none;
  font-size: 1.3rem;
  padding: 4px 9px;
}

.countryCard .mediaNotFound {
  font-family: 'league-gothic', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.009em;
  font-size: 1.4rem;
  line-height: 1.2em;
  margin-top: 10px;
  text-align: center;
}

.countryCard .mediaNotFound p {
  margin-bottom: 20px;
}

.countryCard .otherMedia {
  font-family: 'league-gothic', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.009em;
  font-size: 1.2rem;
  line-height: 1em;
  margin-top: 15px;
  text-align: center;
}

.countryCard .otherMedia p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.countryCard .otherMedia .separator {
  height: 25px;
  width: auto;
}

.fuego {
  background-image: url("/images/fuego.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
}

@media screen and (min-width: 640px) {

  .homeIntroImage img {
    max-width: 400px;
  }

  .articleBanner h3 {
    font-size: 48px;
    max-width: 500px;
  }

  .vizBannerIframe, .vizBannerText {
    width: 80%;
  }

}

@media screen and (min-width: 768px) {

  .homeIntro {
    grid-template-columns: 0 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .homeIntroText p {
    width: 80%;
  }

  .articleBanner picture {
    display: block;
  }

  .vizBanner {
    grid-template-columns: repeat(2, 1fr);
  }

  .vizBannerIframe, .vizBannerText {
    min-width: 450px;
    width:
  }

  .rayo {
    min-width: 30px;
  }

  .story {
    margin-left: 20px;
  }

  .mapaTitle {
    padding: 50px;
  }

  .mapaTitle img {
    height: 200px;
  }

}

@media screen and (min-width: 795px) {

  .mapa {
    max-width: 60%;
    width: 60%;
  }

  .mapaContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 70px 0px 10px;
  }

  .mapaTitleContainer .directions {
    text-align: center;
    margin-bottom: 50px;
  }

  .mapaTitle {
    justify-content: center;
    padding-bottom: 15px;
  }

  .countryCard {
    min-width: 250px;
    max-width: 350px;
    width: 30%;
    padding: 30px;
    margin-left: 0;
  }

  .countryCard .countryMedia {
    display: block;
  }

  .countryCard .countryTitle {
    text-align: left;
  }

  .countryCard .media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0px;
  }

  .countryCard .sparks {
    width: 30px;
    height: 30px;
  }

  .fuego {
    background-position: right;
  }

}

@media screen and (min-width: 840px) {

  .homeIntro {
    justify-content: flex-end;
  }

  .homeIntroText, .homeIntroImage {
    width: 50%;
  }

  .homeIntroImage {
    padding-right: 20px;
  }

  .homeIntroText p {
    padding-top: 0px;
  }

  .homeIntroImage img {
    padding: 0px;
  }

}

@media screen and (min-width: 897px) {

  .vizBannerIframe {
    margin-left: 40px;
    padding-right: 50px;
  }

  .vizBannerText {
    margin-right: 40px;
    padding-left: 50px;
  }

  .vizBannerIframe, .vizBannerText {
    max-width: 600px;
    width: 40%;
  }

}
